.lt_container{
    height: 100%;
    flex: 1;
}
.lt_container .shop-list{
    position: relative;
    background-color: #fff;
    padding: 10px;
}
.lt_container .shop-list .shop-left{
    position: absolute;
    padding: 20px 10px;
    width: 62px;
    top: 0px;
    left: 0px;
}
.lt_container .shop-list .shop-left img{
    display: block;
    width: 55px;
    height: 55px;
}
.lt_container .shop-list .shop-left input{
    font-size: 18px;
    margin-top: 6px;
}
.lt_container .shop-list .shop-right{
    margin-left: 62px;

}
.lt_container .shop-list .shop-right p.title{

}
.lt_container .shop-list .shop-right span.price{
    color: red;
    font-size: 12px;
}
.lt_container .shop-list .shop-right span.oldPrice{
    color: gray;
    text-decoration: line-through;
    font-size: 12px;
}
.lt_container .shop-list .shop-right p.num{

}
.lt_container .shop-list .shop-right p.size{
    font-size: 16px;
    color: lightseagreen;
}

