html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    
}
ul,
li {
    list-style: none;
}

.mb_30{
    margin-bottom: 30px;
}