html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    
}
ul,
li {
    list-style: none;
}
.main-right.current{
    margin-left: 0px;
}

.mb_30{
    margin-bottom: 30px;
}

.main-left .content li.active{
    border-left-color: yellowgreen;
    background-color: #1d1f21;
}